.frequencyAndAnswer {
    background-color: rgb(232, 232, 232);
    text-align: right;
}
.halfWidth {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.tabBox {
    width: 40%;
    margin: 2% 2.5%;
    display: inline-block;
}
div.halfWidth > p {
    text-align: justify;
}